.App {
  text-align:center;
  font-family: 'Quicksand', sans-serif;
  font-weight:550;
  background-color:#e9f8f8;
}
.page-footer{
  background-color:#f7c9ca;
  bottom:0;
}
.home,.login, .search-page,.addpre,.addDoc,.edit,.docs,.user-page{
  position:relative;
  /* min-height:427pt; */
  min-height:80vh;
}
.logout{
  background-color:#fff3f4;
}
.auth{
  margin-left:10pt;
  height:30pt;
}
.welcome{
  font-size: 20pt;
}
.btn{
  background-color:#fff3f4;
}
.bird{
  padding:0pt;
  margin:0pt;
}
.header{
  font-family: 'Comfortaa';
  font-size:35pt;
  padding:0pt;
  margin:0pt;
  display:inline-block;
  font-weight:bold;
}
.subhead{
  font-family: "Comfortaa";
  font-size:30pt;
  padding-top:10pt;
  color:black;
  text-decoration:none;
}
.subhead:hover{
  color:grey;
}
.navbar{
  background-color:#f7c9ca
}
/* .navbar-nav{
  background-color:red;
} */
.user{
  text-decoration:none;
  margin-left:20pt;
  color:black;
  font-weight:bold;
}
.user:hover{
  color:gray;
}
.card {
  background-color:#e9f8f8;
  margin:10pt;
  margin-left:40pt;
  border:0pt;
  text-align:left;
}
.info {
  font-weight:600;

}
.bottle{
  /* padding-top:20pt;*/
  /* margin-left:45pt; */
  /* width:100pt; */
  width:175pt;
  margin-left:20pt;
}
.navbar-brand{
  margin-left:10pt;
}
.nav-item{
  margin-left:75pt;
}
ul{
  list-style-type: none;
}
.addpre, .addDoc, .edit, .addmed{
width:50%;
margin:auto;
/* border:thin solid black; */
}
.addpre-inner, .addmed-inner{
  width:75%;
  margin:auto;
} 
.addmed{
  height:400pt;
} 
.doctor-form{
  margin-right:100pt;
  margin-left:100pt;
}
.doctor-li{
  margin:10pt;
}
.docs{
  height:430pt;
}
.search{
  margin:10pt;
  margin-left:100pt;
  margin-right:100pt;
}
.add-button{
  margin-left:10pt;
}
.filter{
  margin:10pt;
}
.med-li{
  margin:10pt;
}
.alert{
  margin:10pt;
  margin-left:40pt;
  border:0pt;
  width:200pt;
}
.alert-word{
  color:red;
  font-weight:bold;
}
.days-left{
  font-weight:bold;
  font-size:18pt;
}
